---
---

@import "{{ site.theme }}";

.page-content {

  content-width: 1100px;
}

main.page-content {
    padding-top: 0;
    content-width: 1500px;
}
article.post {
    content-width: 1500px;
    div.post-content {
      content-width: 1100px;
        h2 {
            clear: both;
        }
        ul {
            li { margin-bottom: .5em; }
        }

        .intro-img {
            margin-left: 4em;
        }
        .pull-right {
            display: block;
            float: right;
        }
    }
}
